DJANGO_SETTINGS_MODULE=lumina.settings.dev
DJANGO_SECRET_KEY=dev-insecure-change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=lumina
DB_USER=lumina
DB_PASSWORD=lumina
DB_HOST=db
DB_PORT=3306

VALKEY_URL=redis://valkey:6379/0

EMAIL_HOST=mailpit
EMAIL_PORT=1025
DEFAULT_FROM_EMAIL=lumina@localhost
LUMINA_REVIEW_NOTIFY_EMAILS=reviewers@localhost

# OIDC - fill from Keycloak dev realm export in docs/keycloak.md
OIDC_RP_CLIENT_ID=lumina
OIDC_RP_CLIENT_SECRET=
OIDC_OP_AUTHORIZATION_ENDPOINT=http://keycloak:8080/realms/lumina/protocol/openid-connect/auth
OIDC_OP_TOKEN_ENDPOINT=http://keycloak:8080/realms/lumina/protocol/openid-connect/token
OIDC_OP_USER_ENDPOINT=http://keycloak:8080/realms/lumina/protocol/openid-connect/userinfo
OIDC_OP_JWKS_ENDPOINT=http://keycloak:8080/realms/lumina/protocol/openid-connect/certs
